.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #3b3939a2;
  }
  
  .navbar h1 {
    font-size: 1.5rem;
    color: white;
    margin: 2px;
  }
  
  .toggleButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .toggleIcon {
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
  }
  
  .navbarLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbarLinks li {
    margin-right: 1rem;
  }
  
  .navbarLinks a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 20px;
  }
  
  .showNav {
    display: flex;
  }

nav a:hover {
    color:rgb(0, 0, 0);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0303038c;
  z-index: 100;
}

.navbar.open {
  background-color: #555; /* Cambia el color de fondo cuando el menú está abierto */
}

