.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f2f2f2;
  }
  
  .navbar h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .toggleButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .toggleIcon {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 2px;
  }
  
  .navbarLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbarLinks li {
    margin-right: 1rem;
  }
  
  .navbarLinks a {
    text-decoration: none;
    color: black;
  }
  
  .showNav {
    display: flex;
  }

nav a:hover {
    color: blue;
}
 